.sucess {
  width: 100%;
  color: green;
  border: 2px solid green;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.error {
  width: 100%;
  color: red;
  border: 2px solid red;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

.warning {
  width: 100%;
  color: yellow;
  border: 2px solid yellow;
  border-radius: 10px;
  text-transform: uppercase;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}
