.products-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  justify-items: center;
  flex-wrap: wrap;
}
button {
  padding: 10px;
  color: #fff;
  border: none;
  cursor: pointer;
  background-color: #333;
}
.card {
  width: 250px;
  height: auto;
  display: flex;
  padding: 10px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  background: #fff;
}
.card img {
  width: 90%;
  height: 10rem;
}
.card > p {
  font-size: 30px;
  margin: 0;
}
.card:hover {
  box-shadow: 10px 10px 20px #ccc;
}

.orderBtn {
  width: 200px;
  background: orangered;
  border: none;
  cursor: pointer;
}
.orderBtn:hover {
  background: rgb(89, 0, 190);
}
